<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modbus Register Reader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Modbus Holding Registers</h1>
        
        {% if values is not none %}
            <h2 class="mt-5">Results:</h2>
            <p><strong>Read Values:</strong> {{ values }}</p>
            <p><strong>Text Representation:</strong> {{ result_string }}</p>
        {% else %}
            <p>No values read from the Modbus server.</p>
        {% endif %}
    </div>
</body>
</html>
